<html>
  <head>
    <title>{{ title }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" >
    </head>
  <body>
    <div class="body_in_body">
      <h1>Error</h1>
        <div class="form_layout">
          <div class="form_box">
            <h2>Reason</h2>
            <p>{{ message }}</p>
            <form action = "/" method = "GET">
              <button class="flat_button"><div class="button_text">Back</div></button>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
