<html>
  <head>
    <title>VVS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="body_in_body">
      <div class="horizontal_spread">
        <img class="logo" src="{{ url_for('static',filename='styles/logo.png') }}">
        <h1>Video Validation Solution</h1>
      </div>
      <div class="form_layout">
        <div id="upload_input_box" class="form_box">
          <h2>CSV Upload</h2>
          <p id="file_selection">No file selected</p>
          <script src="{{ url_for('static',filename='scripts/validation.js') }}"></script>
          <script src="{{ url_for('static',filename='scripts/analysis_notifications.js') }}"></script>
          <form action = "/uploader" method = "POST" 
            enctype = "multipart/form-data">
            <input class="flat_button" id="file_upload" type="file" name="file" accept=".csv" aria-label="CSV Select" oninput="validateFileSelection()" />
            <label for="file_upload">
              <div class="button_text">Select File</div>
            </label>
            <input class="flat_button" id="file_submit" type = "submit" aria-label="CSV Submit"/>
            <label for="file_submit">
              <div class="button_text">Upload File</div>
            </label>
          </form>   
        </div>
        <div id="download_box" class="form_box">
          <h2>Results</h2>
          <p id="result_message">{{ result_message }}</p>
          <form action = "/vvs_output.xlsx" method = "GET">
            <button class="flat_button"><div class="button_text">Download</div></button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
