body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;
  background-color: White;
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: Black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 30px 30px 15px 30px;
}

.horizontal_spread {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo {
  align-self: center;
}

.body_in_body {
  margin: auto;
  width: 50%;
  height: auto;
  min-width: 400px;
}
.form_layout {
  display: flex;
  flex-direction: row;
  margin: 15px;
  gap: 15px;
}
.form_box {
  background-color: White;
  width: 50%;
  min-width: 150px;
  height: auto;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  border-radius: 1px;
  border-color: Black;
  gap: 0px;
}
.form_box h2 {
  margin: auto;
  text-align: center;
  padding: 5px;
}
.form_box form {
  display: flex;
  justify-content: space-evenly;
}

.form_box_error {
  background-color: Salmon;
  width: 50%;
  min-width: 150px;
  height: auto;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  border-radius: 1px;
  border-color: Black;
  gap: 0px;
}
.form_box_error h2 {
  margin: auto;
  text-align: center;
  padding: 5px;
}
.form_box_error form {
  display: flex;
  justify-content: space-evenly;
}
.results_box {
  background-color: White;
  width: 100%;
  min-width: 150px;
  height: auto;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  border-radius: 1px;
  border-color: Black;
  gap: 0px;
}

.flat_button,
.flat_button + label {
  background-color: Black;
  color: White;
  border: solid;
  border-radius: 3px;
  border-color: Black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flat_button:hover,
.flat_button:hover + label {
  background-color: Grey;
}
.flat_button:focus,
.flat_button:focus + label {
  background-color: Grey;
  outline: 1px dashed #000;
}

.back_button_form {
  margin: 20;
}

.button_text {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: large;
  /* text-transform: uppercase; */
  padding: 0;
}

input[type="file"],
input[type="submit"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.table_container {
  margin-left: auto;
  margin-right: auto;
  background: White;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
