<html>
  <head>
    <title>{{ title }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" >
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
  <body>
    <div class="body_in_body">
      <h1>Success</h1>
        <div class="form_layout">
          <div class="form_box_success">
            <h2>Result</h2>
            <p>File uploaded successfully</p>
            <form action = "/" method = "GET">
              <button class="flat_button"><div class="button_text">Back</div></button>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
